body {
    margin: 30px;
    font-family: monospace;
}

.grid-container {
    background: #eee;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    display: grid;
}

.grid-container > div {
    background: red;
}

.grid-container .box.active {
    background: black;
}